

@media screen and (max-width: 320px)
{
  .path-frontpage {
    background-size: 265% !important;
  }


  .frontbuttons .frontheadercol1 h3
  {
    height:70px !important;
  }

}


@media screen and (min-width: 321px) and (max-width: 376px)
{
  .path-frontpage {
    background-size: 245% !important;
  }


  .frontbuttons .frontheadercol1 h3
  {
    height:75px !important;
  }

}


@media screen and (min-width: 377px) and  (max-width: 450px)
{
  .path-frontpage {
    background-size: 210%;
  }

  .frontbuttons .frontheadercol1 h3
  {
    height:70px !important;
  }

}

@media screen and (max-width:450px)
{


.path-frontpage .frontheadercol1 h1
{
  font-size:20px !important;
}


.path-frontpage .frontheadercol1 h3,
.path-frontpage .frontheadercol1 button
{
  font-size:16px !important;
}


.path-frontpage .dialog-off-canvas-main-canvas
{
  background:none;
}


.frontbuttons .frontheadercol1 h3
{
   width:100%;
}


.path-frontpage .field--name-body p
{
  font-size:14px;
  padding:0px;
  margin:0px;
}

.path-frontpage .frontheadercol2
{
  display:none !important;
}

.container-fluid div.row {
    margin:1% !important;

}


.path-frontpage h2
{
    font-size:20px;
}

.path-frontpage .containerfull2
{
  padding-top:30px !important;
}






}






