

@media screen and (min-height:760px) and (min-width:760px) and (max-width:1200px)
{
  body
  {
  }


  .toolbar-fixed  .frontspacer1
  {
    height:7vw !important; 
  }

  .path-frontpage .frontspacer1
  {
    height:20vw;
  }




  .path-frontpage .container-fluid div.row
  {
	margin-bottom:1% !important;
  }

  .path-frontpage div.frontheadercol2 h1,
  .path-frontpage div.frontheadercol1 h1
  {
    font-size:3vw !important;
  }

  .path-frontpage .frontheadercol1 button,
  .path-frontpage #block-ccc-content div.frontheadercol2 h3,
  .path-frontpage #block-ccc-content div.frontheadercol1 h3,
  .path-frontpage #block-ccc-content div.frontheadercol1 article,
  .path-frontpage #block-ccc-content div.node__content
  {
    font-size:1.7vw !important;
  }

  .path-frontpage #block-ccc-content
  {
    padding-top:0% !important;
  }
  
  .path-frontpage #block-ccc-content br
  {
    display:none;
  }

}



