



/* simplificar pre-registro comprador
stalin: css para ocultar campos no requieridos en formulario
de pre-registro de comprador
*/


/* cambiar tamaño de main content*/
.preregistrocomprador 
{
   background-color:blue !important;
   background-image:none !important; 

    /* background-image:url() !important; */
}

/* cambiar tamaño de main content*/
#block-ccc-content
{
  margin-left:8%;
  margin-right:8%;  
}


.preregistrocomprador .form-item-name,
.preregistrocomprador .form-item-notify,
.preregistrocomprador #edit-roles--wrapper,
.preregistrocomprador #edit-status--wrapper, 
.preregistrocomprador #edit-group-redes, 
.preregistrocomprador #edit-group-contacto,
.preregistrocomprador #edit-group-domicilio,
.preregistrocomprador .field--name-field-descripcion ,
.preregistrocomprador .field--name-user-picture,
.preregistrocomprador .field--name-field-registromercantil 
{
  display:none;
}


/* end simplificar pre-registro comprador */









.compradordashboard
{
  background-color:#F1F5FB;
  background-image:none;  
}


.compradordashboard .dcoltitle
{
  width:280px;
  display:block;
  float:left;
}

.compradordashboard .dcolbuttons
{
  margin-top:25px;
  float:right;
  display:block;
  width:auto;
}


.compradordashboard .dcolbuttons a:hover
{
	border:2px solid #FF1000;
	background-color:#FF1000 !important;
	color:white;
}

.compradordashboard .dcolbuttons a
{
  border-radius:5px;
  border:2px solid #0861F6;
  padding:5px 15px 5px 15px;
  margin:0px 5px 0px 0px !important;
  font-size:14px;  
  font-weight:bold;
 }


.compradordashboard h2
{
  font-weight:bold;
  line-height:90%;
}

.tcolor1
{
  color:#00377E;
  
}


.preregistrocomprador span.nav-item,
.preregistrocomprador a.nav-link
{
  color:#00377E !important;
}


.preregistrocomprador .tcolor2
{
  color:#FF1000;
}


.dashboard2row .views-element-container h2
{
    color:#FF1000 !important;
}



.view-dashboardcomprador-necesidadespublicadas
{
  border:8px solid #c9c9c9;
}

.compradordashboard .dasgboard2c .dashboard2row .col-12
{
	padding:9px !important;  
}


.view-block-comprador-oportunidades-recibidas 
{
    border-radius:10px;
  background-color:#07457C; 
    border:8px solid #07457C;
}

.view-block-comprador-oportunidades-recibidas  div.field-content
{
  color:#0483F2 !important;
}


.view-block-comprador-oportunidades-recibidas   div.views-field-nid span
{
  color:white !important;
  font-weight:bold;
}

.view-block-comprador-oportunidades-recibidas   .views-row
{
  display:block;
  clear:both;
  margin-bottom:20px;
}




