
/* Alexander Gutierrez,  agregar color para identificar la criticidad en las interfaces con listas*/
.estiloAlta{
color:red
}
.estiloMedia{
color: #EEE700;
}
.estiloBaja{
color: green
}
/* Fin agregar color */

/* Alexander Gutierrez,  Footer, karina mora representante de la camara para administrar*/
.footer{
display:flex;
justify-content: space-evenly;
}

/* fin de la tarea footer */