

 

 /*imagen de fondo en registro comprador */

body.preregistro-comprador {
  background-image: url("/sites/all/themes/ccc/img/Bg-registro-de-usuario.png"); 
} 


/* ocultar campos no necesarios en completar registro  */
.preregcomprador_actualizar #edit-pass,
.preregcomprador_actualizar #edit-pass--description,
.preregcomprador_actualizar .form-item-mail, 
.preregcomprador_actualizar .form-item-current-pass
{
  display:none;
}



.pregistro-comprador #edit-pass--description,
.pregistro-comprador #group-cuenta,
.pregistro-comprador legend.form-required
{
  display:none;
}

.pregistro-comprador #edit-account
{
  width:96% !important;
}


.pregistro-comprador .form-item-mail
{
  display:block;
  clear:both;
}

.form-item-pass-pass1 ,
.form-item-pass-pass2
{
	width:48.5%;
  	float:left !important; 
  	clear:none !important;
}

.pregistro-comprador #edit-mail
{
  max-width:48%;
}

.pregistro-comprador .form-item-pass-pass2
{
  margin-left:3%;
}


.pregistro-comprador .password-confirm
{
  font-size:13px;
  font-weight:100 !important;
}







