
form, 
form  p,
form .item-list, 
form #edit-cancel
{
  color:white;
}



 
.comment-oferta-form
{
  background-color:white;
  padding:15px;
  border-radius:15px;
  margin-top:70px; 
}

.comment-oferta-form .comment-add
{
    display:none;
}



.vistaconestilos
{
  padding:15px;
  background-color:white; 
  
}

.path-comment .field__item a, 
.path-comment .field__item, 
.path-comment .field__label, 
.path-comment fieldset div,
.path-comment fieldset a,
.path-comment fieldset label,
.path-comment fieldset 
{
  color:white !important; 
}

 


/* forms taxonomy */


.page-node-type-calificacion #block-ccc-content,
.page-node-type-contrato #block-ccc-content, 
.path-taxonomy  #block-ccc-content
{
  background-color:white;
  border-radius:10px;
}

nav ul.nav-tabs a
{
  color:white;
}


nav ul.nav-tabs a:hover {
    color:#666;
}


nav ul.nav-tabs li.active a {
    color:#666;
}



/* END forms taxonomy */



/*  VALIDAR NIT FORM */ 

.btnwhite { 
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

.path-validarnit .view-content div,
.path-validarnit .view-content a,
.path-validarnit .view-content span
{
  color:white;
}
 

.path-validarnit form.views-exposed-form
{
  display:block;
  clear:both; 
  padding-top:20px !important;
  border-radius:10px !important;
}

.path-validarnit form.views-exposed-form .form-item
{
  float:left;
  width:45%;
}



.path-validarnit form.views-exposed-form #edit-actions
{
  clear:none !important;
  width:45%;
  float:right;

}

.path-validarnit  .view-header,
.path-validarnit  .view-empty
{
  padding-top:10px;
  padding-bottom:20px;  
  color:white;

}

.path-validarnit  .view-header a
{
  text-decoration:underline !important;
  font-weight:bold;
  color:white;
}

.path-validarnit .view-empty a
{
  color:white;
  padding:10px;
  border-radius:10px;
  border:1px solid white; 
}


/* FIN VALIDAR NIT FORM */


/*  ESTULO FORMS */




.rol_administrador .form-item-roles-adminccc,
.rol_administrador .form-item-roles-administrator
{
  display:none;
}



.p_admin_config #block-ccc-content
{
  background-color:white;
  border-radius:10px;
}




.vistaconestilo .view-content
{
  margin:0px 0px; 

  background-color:white;
}


.vistaconestilo .view-header
{
	color:white;
   	margin-bottom:20px;
}

.vistaconestilo .view-filters .form--inline
{
  display:block;
  clear:both; 

}
.vistaconestilo .view-filters .form-item 
{
  float:left;

}

.vistaconestilo .view-filters #edit-actions
{
  clear:none;
  float:right;
  width:20%;
  display:flex;

}



/* FN ESTULO FORMS */


.tablaconestilo .view-content
{
  background-color:white;
  margin:40px 0px 0px 0px;
  padding:0px;
  border-radius:10px;
}


.tablaconestilo .view-header
{
  color:white;
}

.tablaconestilo .view-header a
{
  border-radius:10px;
  border:1px solid white;
  color:white;
  padding:5px 15px 5px 15px;
}




.tablaconestilocuadro .view-content
{
  background-color:white;
   margin:0px;
}




.page-node-type-mis-requisitos #block-ccc-content
{
  background-color:white;
  border-radius:10px;
}






.navbar-light .navbar-nav .nav-item,
.navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

ul.dropdown-menu li.nav-item nav-item,
ul.dropdown-menu li.nav-item a.nav-link {
    color: #666 !important;
}

.menu--account .nav-item,
.menu--account .nav-link {
    color: white !important;
}

.vistagrid {
    background-color: white !important;
    border-radius: 10px 10px 10px 10px !important;
}


/* rol proveedor customs */

.rol_proveedor .node_add_oferta .form-type-vertical-tabs {
    display: none !important;
}

.rol_proveedor .node-oferta-form .form-type-vertical-tabs {
    display: none !important;
}

.rol_proveedor .form-item-field-relnodopadrenecesidad-0-target-id {
    display: none !important;
}

.page-node-type-oferta div.field--name-field-relnodopadrenecesidad {
    display: none !important;
}


/* more css */

p,
div,
label {
    color: #666;
}

table {
    color: #666 !important;
}

.region-breadcrumb {
    display: none;
}

.block-system-main-block {
    padding: 2%;
}

.container-fluid div.row {
    margin: 3% !important;
    background-color: transparent !important;

}


body {
  background-image: url("/sites/all/themes/ccc/img/background-login2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.field-multiple-table h4,
.fieldset-wrapper label {
    color: #0383f2;
    font-weight: 600;
}

.region-content .block-page-title-block {
    text-align: left !important;
    padding: 2%;
}

.region-content .block-page-title-block h1 {
    text-align: center !important;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 1.8rem;
    font-weight: 600;
}

.node-form fieldset div.form-item {
    width: 46.5%;
    float: left;
    margin-right: 3%;
}

.node-form fieldset div.form-item .tabledrag-toggle-weight-wrapper {
    display: none;
}

.node-form fieldset legend span {
    color: #0383f2;
    font-weight: 600;
    font-size: 1.5rem;
}

.form-control {
    font-size: 0.9rem !important;
}

.form-item,
.form-actions {
    margin-top: 0.5em !important;
    margin-bottom: 0.6em !important;
}

.table th {
    border-top: 0px solid white !important;
    padding-top: 0.6rem !important;
}

.block-system-main-block fieldset div.field--type-text-with-summary .form-wrapper {
    display: none !important;
}

.block-system-main-block fieldset div.field--type-text-with-summary .form-item .form-item {
    width: 99.8% !important;
}

a {
    color: #0383f2;
    background-color: transparent;
}

.field-multiple-table h4,
.fieldset-wrapper label {
    margin-bottom: 0.1rem !important;
}

.xorder-1.xorder-lg-2.xcol-12.xcol-lg-9
{
  background-color: #fafbfd;
  border-radius: 12px;
  padding: 20px;
}




.path-comprador .block-views h2
{
  color:white  !important;
  font-size:18px !important;
}


.vistaconestilo2
{
  border-radius:10px;
  background-color:white;
}


.path-comprador .order-1,
.path-comprador .order-lg-2,
.path-comprador .col-12,
.path-comprador .col-lg-9,
.path-comprador .order-1.order-lg-2.col-12.col-lg-9
{
    background-color:transparent !important; 
    padding:0px !important;
}

.vistaocultada
{
    display:none !important; 
}





/*  SOLICITUD VINCULACION */

.path-user #edit-group-redes .fieldset-wrapper .form-wrapper, 
.path-user #edit-group-contacto .fieldset-wrapper .form-wrapper
{
  	width: 46.5%; 
  	float:left !important;  
	display:block !important; 
    margin-right:3% !important;  
}

.path-user #state-wrapper-field_ubicacion-0 .fieldset-wrapper .js-form-item
{
     width: 46.5%;   
}

.path-user span.select2
{
  width:90% !important;
  display:block;
  clear:boyh; 
}

.path-user #edit-group-informacion-de-la-empresa #edit-field-empresanombre-wrapper
{
  width: 46.5%; 
  float:left;
  margin-right:3% !important;    
}

.path-user #edit-group-informacion-de-la-empresa #edit-field-nit-wrapper
{

  width: 46.5%; 
  float:left;
}

.path-user #edit-field-desea-vincularse-principal-wrapper
{
  width: 46.5%; 
}

.path-user #group-cuenta
{
  margin-top:40px !important;
}



/* end SOLICITUD VINCULACION */



/* crear requerimiento */ 

.rol_comprador .node-requerimiento-form .js-form-type-vertical-tabs
{
  display:none; 
}

details
{
  border:0px solid white !important;
}


.node-requerimiento-form #edit-group-fechas-importantes
{
  clear:both;
  display:block; 
  
}

.node-requerimiento-form  .field--widget-daterange-default,
.node-requerimiento-form  .field--widget-datetime-default 
{
  display:inline; 
  width:33%;
  float:left; 
  
}

.node-requerimiento-form .field--widget-daterange-default .fieldset-legend,
.node-requerimiento-form .field--widget-datetime-default .fieldset-legend 
{
  font-size:16px;
}

.node-requerimiento-form #edit-field-procesodocs-wrapper
{
  display:block;
  clear:both;
  
  	border-top:3px solid #f0f0f0; 
}


.node-requerimiento-form #edit-field-procesodocs-wrapper summary
{
	font-size:20px;
  	color:#0383f2;
  	font-weight:bold;
    width:99% !important;
  clear:both;
  display:block;
 
}

.node-requerimiento-form .form-item-field-procesodocs-0
{
  width:99% !important;
  clear:both;
  display:block;
 
}

.node-requerimiento-form .form-item-field-procesodocs-0 label
{
 color:#999  !important;
}

.node-requerimiento-form .field-group-fieldset
{
	border-bottom:3px solid #f0f0f0; 
	padding-bottom:40px;
	padding-top:2px;
}

.node-requerimiento-form #edit-field-requisitos-proceso label
{
  color:gray;
}



.p_node_add #node-requerimiento-form #edit-group-adjudicar-a
{
  display:none; 
} 



 .node-requerimiento-form  #edit-field-requisitos-proceso .form-item 
{
  display:none; 
}



/* end crear requerimiento */


/* ocultar opciones de comentarios  */
.nodetype_necesidad_view li.comment-add, 
.nodetype_necesidad_view  section.field--name-field-oferta
{
  display:none !important; 
}
   
/* end ocultar opciones de comentarios  */
