


/* global styles */
div,p,span, ul, li, p, b, strong, i,table, td, tr, ol, button, a, a:link
{
	font-family: 'Open Sans', sans-serif;
}

h1, h2
{
  font-weight:600;
}

/* end global styles */


/* put the bg on */
.path-frontpage {
  background: url("/sites/all/themes/ccc/img/bg_home.jpg");
  background-repeat:no-repeat;
  background-size:100%;
}

/* get some divs transparent */
.path-frontpage .navbar,
.path-frontpage .container-fluid div.row
{
    background-color:transparent !important;
}


/* hide unncessary block */


.block-block-content21d2db78-7b0f-41c3-bc7a-571d9e4f6d60 h2
{
  display:none;
}

#block-ccc-powered-by-drupal,
.path-frontpage .nav-tabs,
.path-frontpage #block-ccc-page-title
{
  display:none !important;
}


/* bg banner front   */

.h-100 {
    height: auto !important;
}

.path-frontpage .dialog-off-canvas-main-canvas
{
  background:right top url("/sites/all/themes/ccc/img/bg_home_banner.png");
    background-repeat: no-repeat;
    background-size:61%;
}


/* fonts styles */

.frontheadercol1 h1
{
  color:#ffbc00 !important;
font-weight: 700 !important;
    font-size: 2.4rem !important;
}

.frontheadercol1 h3
{
  color:white !important;
  font-size:1.4rem!important;
}


.frontspacer1
{
 display:block;
 clear:both;
 height:30vh;
}




/*  haz parte de iniciativa */



a
{
	text-decoration:none !important;
}


.frontbuttons .frontheadercol1 h3
{
  border-radius:10px;
  background-color:white;
  width:45%;
  margin-left:3%;
  margin-bottom:3%;
  float:left;
  padding:15px;
  height:90px;
  font-size:1em !important;
  color:#161616 !important;
}

.frontbuttons .frontheadercol1 h3 a
{
  display:block;
  width:70%;
  color:#161616 !important;
  float:left;

}

.frontbuttons .frontheadercol1 h3 i
{
  display:block;
  width:25%;
  float:right;
}


.frontbuttons .frontheadercol1 h3:hover
{
  background-color:#0583f2;
  color:white;
}



.frontbuttons .frontheadercol1 h3:hover a:link,
.frontbuttons .frontheadercol1 h3:hover a
{
  color:white !important;
}

.frontbuttons .frontheadercol1 i
{
	FONT-SIZE: 2em;
}











/* noticias */




.homenotiblockfila
{
  margin:0px !important;
  padding:10px !important;
  border:0px solid white;
  background-color:transparent!important;
  box-shadow:none !Important;

}

.homenotiblockfila .views-field-title
{
	background-color:white !important;
	padding:15px !important;
    border:0px solid blue;

-webkit-box-shadow: 15px 15px 15px -15px rgba(212,212,212,0.87);
-moz-box-shadow: 15px 15px 15px -15px rgba(212,212,212,0.87);
box-shadow: 15px 15px 15px -15px rgba(212,212,212,0.87);


}




.homenotiblockfila .views-field-title  a
{
  font-weight:600 !important;
  color:#666 !important;

}

.homenotiblockfila .views-field-field-image img
{
	border-radius:10px 10px 0px 0px;

}






#block-views-block-eventosblock-block-1-2,
#block-views-block-noticiasblock-block-1-2
{
  text-align:center;
}





.ccontainerfull1
{
  padding-top:25px !important;
}


.ccontainerfull1 nav.pager,
.ccontainerfull2  nav.pager
{
  margin:25px !important;
}


.ccontainerfull1 ul.pager__items li ,
.ccontainerfull2  ul.pager__items li
{
  border-radius:10px;
  font-size:13px;
  margin:5px;
  border:1px solid #ccc;
  color:#666;
}

.pager__item--previous a,
.pager__item--next a
{
    color:#666;
  font-size:20px;
}



.view-eventosblock  div.views-field-title
{
  background-color:white !important;
}

.homenotiblockfila
{
  margin-bottom:15px;
}





@media screen and (min-width:1200px)
{

.frontbuttons
{
  padding-top:100px !important;
  padding-bottom:20px !important;
}


}
