
.user_login  #block-ccc-content
{
    width:40%;
    max-width:600px;
    margin:0 auto;
}

 


.user_login #block-ccc-content
{
  border-radius:15px;
  background-color:white;
  padding:5%;
}


.user_login #block-ccc-content label.form-required 
{
  color:#0383f2;
  font-weight:bold;
}

.user_login .region-content
{

  padding: 10px;
}

.user_login ul.nav-tabs 
{
  display:none;
}





