


/* bc=focusedit */

.focusedit div.region-sidebar-second
{
	display:none !important;  
}
.focusedit .container-fluid .no-gutters .order-3
{
  display:none;
}
.focusedit .container-fluid .no-gutters .col-lg-9
{
    flex: 0 0 100%;
    max-width: 100%;
}

/* fin focusedit */




/*  onlyworkflow */
 
.onlyworkflow #block-ccc-content form #edit-delete,  
.onlyworkflow #block-ccc-content form .form-type-vertical-tabs,
.onlyworkflow #block-ccc-content form fieldset, 
.onlyworkflow div.field--type-file ,
.onlyworkflow div.field--type-daterange ,
.onlyworkflow div.field--type-text-with-summary,
.onlyworkflow div.field--type-datetime ,
.onlyworkflow div.field--type-viewfield ,
.onlyworkflow div.field--type-entity-reference,
.onlyworkflow div.field--type-float,
.onlyworkflow div.region-sidebar-second
{
	display:none !important;  
}

.onlyworkflow .container-fluid .no-gutters .order-3
{
  display:none;
}
.onlyworkflow .container-fluid .no-gutters .col-lg-9
{
    flex: 0 0 100%;
    max-width: 100%;
}


/* fin onlyworkflow */


/* pagina requerimientos */

.path-user #block-ccc-content,
.page-node-type-requerimiento #block-ccc-content
{
  background-color:white;
  border-radius:15px;
}




.view-dashboard-empresas
{
  background:white !important;
  border-radius:10px;
}



.ccc-dashboard .contentoutfull1 .block-views
{
  width:21% !important;
  margin:1% !important;
}


.ccc-dashboard  .contentoutfull1 .block-views
{
  min-height:120px !important;
  padding:10px !important;
  text-align:center !important; 
}

.ccc-dashboard  .contentoutfull1 .block-views  h2
{
  font-size:20px;
}





/* node proceso */



.blockgridwhite .view-header a
{
  border-radius:8px;
  border:1px solid #ccc;
 padding:5px;
}

.blockgridwhite .view-header
{
  clear:both;
  display:block;
  margin-bottom:20px;
}

.blockgridwhite .view-content
{
  padding:0px !important;
  margin:0px !important;
}



.blockgridwhite
{
  background-color:white;
  padding:15px;
  border-radius:10px;
}

.blockgridwhite h2
{
  font-size:20px;
}

.region-sidebar-second .blockgridwhite
{
  margin-bottom:30px; 
}

.blockgridwhite a, 
.blockgridwhite .field-content
{
  font-size:13px; 
}


.blockgridwhite .views-row
{
  border-top:1px solid #F0F0F0;
  padding-top:10px;   
  margin-bottom:10px; 
}


