


.pre-registro-proveedor  #block-ccc-content
{
    background: white !important;
    border-radius: 15px !important; 
}

.pre-registro-proveedor fieldset.field-group-fieldset 
{
/*   border:1px solid green; */
  display:block;
  clear:both; 
}

.pre-registro-proveedor .form-type-password-confirm .description,
.pre-registro-proveedor .form-type-password-confirm
{
  clear:both;
  display:block;
/*  border:1px solid green; */
}

.pre-registro-proveedor .form-type-password-confirm .form-item
{
  clear:none !important; 
/*  border:1px solid purple; */

  margin-right:3%;
  width:46%;
  float:left; 

}


.pre-registro-proveedor .form-type-select,
.pre-registro-proveedor .form-type-url ,
.pre-registro-proveedor .form-type-email,
.pre-registro-proveedor .form-type-textfield
{
/*  border:1px solid red; */

  margin-right:3%;
  width:46%;
  float:left; 
}

.pre-registro-proveedor #edit-pass--description,
.pre-registro-proveedor .js-password-confirm-message
{
  font-size:13px;
  font-weight:normal; 
}

.pre-registro-proveedor .form-type-password label
{
  font-size:1rem;
}



.pre-registro-proveedor fieldset.form-composite 
{
  clear:both;
/*  border:3px solid orange; */
  display:block;
  width:90%

}

.form-item-field-ubicacion-0-country span.select2-container--default
{
  display:block;
  clear:both;
  width:100% !important;
}


.pre-registro-proveedor .field--widget-file-generic
{
  clear:both;
/*  border:1px solid yellow; */
  display:block;
  min-height:150px;
}

.dpre-registro-proveedor .description
{
  display:none; 
}







