



/* pagina requerimientos */

.path-user #block-ccc-content,
.page-node-type-requerimiento #block-ccc-content
{
  background-color:white;
  border-radius:15px;
}




.view-dashboard-empresas
{
  background:white !important;
  border-radius:10px;
}









/* seccion registro de proveedor */


.page-node-type-page #block-ccc-content
{
    background: white !important;
    border-radius: 15px !important; 
}



/* end */


.ccontainerfull2
{
	/*background-color:#f3f5f9;*/
}



.p_admin_config #block-ccc-content table.responsive-enabled:first-of-type,
.p_admin_config #block-ccc-content form
{
  
  background-color:white;
  padding:2%;
  border-radius:10px;
}

.p_admin_content #block-ccc-content .views-element-container
{
  border:1px solid orange;
  background-color:white !important;
  border-radius:10px !important;
}

#block-ccc-help strong,
#block-ccc-help div,
#block-ccc-help,
#block-ccc-help p,
#block-ccc-help a
{
	color:white;
}




.p_node_add #block-ccc-content form.node-form
{
  background-color:white;
  padding:2%;
  border-radius:10px;
}





/* vertical tabs */




div.js-form-type-vertical-tabs
{
  display:block;
  clear:both;
  padding-top:2%;
}

div.js-form-type-vertical-tabs  div,
div.js-form-type-vertical-tabs label,
div.js-form-type-vertical-tabs a
{
  font-size:13px;
}


/* local tasks butttons */


#block-ccc-local-tasks
{
  padding:10px;
  margin-bottom:10px;
  text-align:center !important;
}

#block-ccc-local-tasks nav
{
  font-size:12px;
}

#block-ccc-local-tasks .nav-tabs
{
 border:0px solid transparent !important;
}

#block-ccc-local-tasks nav ul li
{
 border:0px solid transparent !important;

  background-color:transparent !important;

}
#block-ccc-local-tasks nav ul li a
{
	border-radius:5px !important;
}
