@import url("home.css?fg3tf");
@import url("forms.css?134");  
@import url("webforms.css?ewfew");
@import url("seccion.css?fg3tf");
@import url("768.css");
@import url("360.css");
@import url("node.css?36542");
@import url("login.css?fg3tf");


.views-field-field-image img {
    width: 100%;
    height: auto;
} 

.maintenance-page header,
.maintenance-page h1 
{
    display: none;
}


/* user */ 
.path-node div.field,
.path-user div.field {
    clear: both;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 1%;
}

.path-node div.field .field__label,
.path-user div.field .field__label {
    width: 40%;
    display: block;
}

.container5,
.container4,
.container3,
.container2,
.container1 {
    margin-top: 4%;
}

.container1 {
    display: none;
}


/* user */
.view-procesoautor .views-field {
    clear: both;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0px;
    padding: 0px;
}

.view-procesoautor .views-row {
    margin: 0px;
    padding: 0px;
    clear: both;
    display: block;
}

.view-procesoautor div.field-content,
.view-procesoautor span.views-label {
    padding: 1%;
    width: 40%;
    float: left;
    display: block;
}

.field--type-viewfield {
    padding: 0% !important;
    clear: both !important;
    display: block !important;
    float: none !Important;
}


/* hde title para certificaciones */

.page-node-type-certificacion .page-title {
    display: none;
}


/*proveedor oportunidades*/

form.views-exposed-form {
    background-color: dodgerblue;
    padding: 1% 1.5%;
    margin: 0px;
    border-radius: 10px 10px 0px 0px;
}

.views-exposed-form label {
    color: #fff;
    font-weight: bold;
}

#edit-actions {
    border-top: 0px;
}


/*imagen de fondo de lista de proveedores*/

.proveedor-oportunidades {
    background-image: url("/sites/all/themes/ccc/img/background-proveedor.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


/* imagen de fondo de mis ofertas*/

.proveedor_misofertas {
    background-image: url("/sites/all/themes/ccc/img/background-proveedor.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


/* imagen de fondo de directorio proveedor*/

.proveedor-directorio-compradores {
    background-image: url("/sites/all/themes/ccc/img/background-proveedor.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.comprador-necesidades {
    background-image: url("/sites/all/themes/ccc/img/comprador-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.comprador-contratos {
    background-image: url("/sites/all/themes/ccc/img/comprador-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.comprador-contratos .views-element-container {
    background-color: aliceblue;
    border-radius: 12px;
    padding: 25px;
}

.comprador-calificar-proveedores {
    background-image: url("/sites/all/themes/ccc/img/comprador-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.comprador-calificar-proveedores .views-element-container {
    background-color: aliceblue;
    border-radius: 12px;
    padding: 25px;
}


/* imagen de fondo de proveedor certificaciones*/

.proveedor-certificaciones {
    background-image: url("/sites/all/themes/ccc/img/background-proveedor.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


/* imagen de fondo de proveedor experiencias*/

.proveedor-experiencias {
    background-image: url("/sites/all/themes/ccc/img/background-proveedor.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

thead tr {
    color: #0056b3;
}


/*contenedor del formulario y tabla*/

.proveedor-oportunidades .views-element-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*tabla*/

.view-content {
    margin: 25px 25px 0px 25px;
}


/*boton de proveedor apply*/

.proveedor-oportunidades #edit-submit-proveedoroportunidades {
    float: left;
}


/*Estilos para directorio de compras*/

.proveedor-directorio-compradores .views-element-container {
    background-color: aliceblue;
    border-radius: 12px;
}


/*Estilos para directorio proveedores*/

.comprador-directorio-proveedor .views-element-container {
    background-color: aliceblue;
    border-radius: 12px;
}


/*Estilos para comprador-necesidades*/

.comprador-necesidades .views-element-container {
    background-color: aliceblue;
    border-radius: 12px;
}
/*fin*/


/*Eventos y noticias*/
.rol_administrador .col-1.col-sm-1.col-md-2.col-lg-4.col-xl-4{
  background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	margin: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rol_administrador .views-field-field-image img
{
	border-radius:10px 10px 0px 0px;

}

 .rol_administrador .views-field-title  a
{
  font-weight:600 !important;
  color:#666 !important;

}

.rol_administrador .views-field-title
{
	overflow:hidden;
    padding:3%;
    height:100px;
  	font-size:14px;
	border-radius:0px 0px 10px 10px;
	/*background-color:#f3f5f9;*/
	line-height:17px !important;
}

/*Eventos*/

.rol_administrador .col-1.col-sm-1.col-md-2.col-lg-3.col-xl-3{
  background-color: #fff;
	padding: 15px;
	border-radius: 10px;
	margin: 4px;
  height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rol_administrador #views-bootstrap-eventos-page-1 .col-1.col-sm-1.col-md-2.col-lg-3.col-xl-3{
  padding: 0px;
  background-color: transparent;
  margin: 0px;
  box-shadow: none;

}

.itemevento{
  background-color: #fff;
	padding: 15px;
	border-radius: 10px;
	margin: 4px;
  height: auto;
  font-size:14px;
  	line-height:17px !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.itemevento img
{
 border-radius:10px 10px 0px 0px;

}

.itemevento  a
{
 font-weight:600 !important;
 color:#666 !important;

}

.itemevento .views-field-title
{
	overflow:hidden;
    padding:3%;
    height:100px;
  	font-size:14px;
	border-radius:0px 0px 10px 10px;
	/*background-color:#f3f5f9;*/
	line-height:17px !important;
}

.itemevento .views-field-field-fechas{
  overflow:hidden;
    padding:3%;
    height:100px;
   font-size:14px;
 border-radius:0px 0px 10px 10px;
 /*background-color:#f3f5f9;*/
 line-height:17px !important;
}

 #views-bootstrap-eventos-page-1 .views-field-field-image img
{
	border-radius:10px 10px 0px 0px;

}

.itemevento img
{
  width:100%;
  height:auto;
}

 .rol_administrador .views-field-field-fechas{
   overflow:hidden;
     padding:3%;
     height:100px;
   	font-size:14px;
 	border-radius:0px 0px 10px 10px;
 	/*background-color:#f3f5f9;*/
 	line-height:17px !important;
 }


 .itemnoticia img
 {
   width:100%;
   height:auto;
 }

/*
 .noticias-all .col-1.col-sm-1.col-md-2.col-lg-4.col-xl-4{
   background-color: #fff;
 	padding: 15px;
 	border-radius: 10px;
 	margin: 4px;
   height: auto;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
*/

.itemnoticia {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin: 11px;
    height: auto;
    font-size: 14px;
    line-height: 17px !important;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    min-height: 280px !important;
}


.rol_administrador #views-bootstrap-noticias-page-1  .col-1.col-sm-1.col-md-2.col-lg-4.col-xl-4{
  padding: 0px;
  background-color: transparent;
  margin: 0px;
  box-shadow: none;

}


 .noticias-all #views-bootstrap-eventos-page-1 .views-field-field-image img
 {
  border-radius:10px 10px 0px 0px;

 }

 .itemnoticia a
 {
  font-weight:600 !important;
  color:#666 !important;
  font-weight: bold !important;
 }


.page-node-type-evento  #block-ccc-content,
.page-node-type-article  #block-ccc-content
{
  background-color:white !important;
  border-radius:10px;
}

.page-node-type-evento  #block-ccc-content .field--name-field-image,
.page-node-type-article  #block-ccc-content .field--name-field-image
{
  text-align:center;
  padding:5px !important;
}

.page-node-type-evento  #block-ccc-content .field--name-field-image img,
.page-node-type-article  #block-ccc-content .field--name-field-image img
{
  width:99% !important;
  HEIGHT:99% !important;
  border:0px solid white !Important;
  border-radius:10px !important;
}





/*fin eventos y noticiias*/



/*responsive*/

@media only screen and (max-width: 767px) {
    .proveedor-oportunidades {
        background-image: url("/sites/all/themes/ccc/img/background-proveedor.png");
    }
    .proveedor_misofertas {
        background-image: url("/sites/all/themes/ccc/img/background-proveedor.png");
    }
    .proveedor-oportunidades table {
        width: 100%;
    }
    .proveedor-oportunidades thead {
        display: none;
    }
    .proveedor-oportunidades tr:nth-of-type(2n) {
        background-color: inherit;
    }
    .proveedor-oportunidades tr td:first-child {
        background: #f0f0f0;
        font-weight: bold;
        font-size: 1.3em;
    }
    .proveedor-oportunidades tbody td {
        display: block;
        text-align: center;
    }
    .proveedor-oportunidades tbody td:before {
        content: attr(data-th);
        display: block;
        text-align: center;
    }
}


/*seccion dashboard*/

.ccc-dashboard .container-fluid {

}

.ccc-dashboard .views-element-container.block-views-blockdashboard-contadores-block-1 {
float: left;
}

.ccc-dashboard .views-element-container.block-views-blockdashboard-contadores-block-2 {
float: left;
}

.ccc-dashboard .views-element-container.block-views-blockdashboard-contadores-block-3 {
float: left;
}

.ccc-dashboard .views-element-container.block-views-blockdashboard-contadores-block-4 {
float: left;
}

.ccc-dashboard .views-element-container {
    background-color: #fff;
    border-width: 4px !important;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 0.25rem;
    border-left: 4px solid;
    border-color: #6200ea !important;
    float:left !important;
	width: 18%;
    margin: 5px;
    /*width: auto;*/
   text-align:center;
	padding:8px;
}


.ccc-dashboard h2
{
  font-size:16px !important;
}


.ccc-dashboard .dashboard1 .block-views
{
  width:18% !important;
  margin:1% !important;
}


.ccc-dashboard  .dashboard1 .block-views
{
  min-height:145px !important;
  padding:10px !important;
  text-align:center !important;
}

.ccc-dashboard  .dashboard1 .block-views  h2
{
  font-size:20px;
  color: #6200ea !important;
}


/*fin de seccion dashboard*/

/* NUEVOS CAMBIOS */
/* FOOTER*/
footer #content-img{
padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}


footer.mt-auto.footer-light.text-dark.bg-primary {
  background-color: white !important;
}

footer hr{

  width: 95% !important;
  border-top: 1px solid rgba(0, 0, 0, 0.2) !important;

}

/* FINN FOOTER*/
/*FIN DE NUEVOS CAMBIOS*/

/*
[class*="col-"] {
    width: 100%;
}
