

.nodetype_necesidad_edit
.form-item-field-oferta-0-target-id
{
  display:none !important;
  	border:1px solid red !important;
}


.path-webform #block-ccc-content
{
  background-color:white;
  border-radius:10px;
}





.nodetype_necesidad_view
.field--name-field-oferta
{
  margin-top:10%;
	padding:3% !important;
    background-color:#ccc;
}

.field--name-field-oferta
.field__item
{
	padding:4% !important;
  background-color:white;
}

.field--name-field-oferta .field__label
{
  font-size:2rem;
   margin-bottom:2%;
}


.form-type-managed-file
{
  margin-top:1rem !important;
  padding-top:1rem !important;
  border-top:3px solid #F0F0F0;
  display:block;
  clear:both;
}

.form-type-managed-file > ::after
{
   content:"-";
}

.form-type-managed-file td
{
  font-size:0.8rem !important;
}


.form-type-managed-file div.webform-managed-file-placeholder
{
  font-size:0.8rem !important;
}

.form-type-managed-file .webform-element-description br
{
  display:none !important;
}


.form-type-managed-file > label
{
  color:#0383f2;
  font-size:1em !important;
   font-weight:bold;
  clear:both;
  display:block;
}

div.form-no-label
{
  font-weight:bold;
/*  font-size:1.3rem !important;*/
}

.form-type-managed-file div.description
{

  display:block;
  width:49%;
  float:left;

}

.form-type-managed-file .form-managed-file
{

  float:right;

  display:block;
  width:49%;

}

.webform-ajax-form-wrapper hr
{
  clear:both;
  display:block;
}



.form-managed-file input
{
  padding:5px;
  font-size:11px;

}


#edit-actions
{
  text-align:center;
  clear:both;
  display:block;
  border-top:5px solid #f0f0f0;
  padding:2%;
}

#edit-actions input
{
  padding-left:2%;
  padding-right:2%;
  font-size:1.5rem;
}


.buttonupload
{
  font-size:12px;
  font-weight:bold;
  padding:5px;
  border:1px solid #CCC;
}



.form-item--error-message
{
  margin-top:20px !important;
  padding:1%;
  clear:both;
  display:block;
  font-size:12px;
  color:red;
}

.form-item--error-message li,
.form-item--error-message strong,
.form-item--error-message em
{
  color:red;
}





.form-item-valorofertaeconomica  label
{
    color: #0383f2;
    font-size: 1em !important;
    font-weight: bold;
    clear: both;
    display: block;
}

.webform-ajax-form-wrapper .form-item div.description
{

  display: block;
    width: 49%;
    float: left;
}

.webform-ajax-form-wrapper .js-webform-input-mask
{
  float: right;
    display: block;
    width: 49%;
  margin-bottom:20px;
}
