{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{%
set nav_classes = 'navbar navbar-expand-lg' ~ 
  (b4_navbar_schema != 'none' ? " navbar-#{b4_navbar_schema}" : ' ') ~
  (b4_navbar_schema != 'none' ? (b4_navbar_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b4_navbar_bg_schema != 'none' ? " bg-#{b4_navbar_bg_schema}" : ' ')
%}

{%
set footer_classes = ' ' ~ 
  (b4_footer_schema != 'none' ? " footer-#{b4_footer_schema}" : ' ') ~
  (b4_footer_schema != 'none' ? (b4_footer_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b4_footer_bg_schema != 'none' ? " bg-#{b4_footer_bg_schema}" : ' ')
%}
	
<header>
  {{ page.header }}  

  <nav class="{{ nav_classes }}">
	 
   <div class="{{ b4_top_container }} row mx-auto">
      <div class="col-auto p-0">
      {{ page.nav_branding }}  
      </div>

      <div class="col-3 col-md-auto p-0 text-right">
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse col-12 col-md-auto p-0 justify-content-end" id="navbarSupportedContent">
        {{ page.nav_main }}      
        {{ page.nav_additional }}      
      </div>
    </div>
  </nav>

   <div style="clear:both; display:block;"></div>

</header>

<main role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

   <div style="clear:both; display:block;"></div>

    {% if page.contentout1 %}
    <div class="container-fluid m-0 p-0 containeroutc2">
    <div class="row containerout1">
    	<div class="contentout1 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          		{{ page.contentout1 }}
    	</div>
       	<div class="contentout2 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    		{{ page.contentout2 }}
    	</div>
    </div>
    </div>
    {% endif %} 

   <div style="clear:both; display:block;"></div>

  {% 
  set sidebar_first_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}
  
  {% 
  set sidebar_second_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}
  
  {% 
  set content_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-lg-6' : ((page.sidebar_first or page.sidebar_second) ? 'col-12 col-lg-9' : 'col-12' )
   %}


  <div class="{{ b4_top_container }}">
    {% if page.breadcrumb %}
      {{ page.breadcrumb }}
    {% endif %}
    
    <div class="row no-gutters">
      {% if page.sidebar_first %}
        <div class="order-2 order-lg-1 {{ sidebar_first_classes }}">
          {{ page.sidebar_first }}
        </div>
      {% endif %}
      
      <div class="order-1 order-lg-2 {{ content_classes }}">
        {{ page.content }}
         
        {% if page.dashboard1 %}
        <div class="container-fluid m-0 p-0 dasgboard1c">
        <div class="row dashboard1row">
        	<div class="dashboard1div col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              		{{ page.dashboard1 }}
        	</div>
        </div>
        </div>
        {% endif %} 
        
    
        <div style="clear:both; display:block;"></div>

        

        {% if page.dashboard21 %}
        <div class="container-fluid m-0 p-0 dasgboard2c">
        <div class="row dashboard2row">
        	<div class="dashboard21div col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              		{{ page.dashboard21 }}
        	</div>
        
        	<div class="dashboard22div col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              		{{ page.dashboard22 }}
        	</div>
        	
        	<div class="dashboard23div col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              		{{ page.dashboard23 }}
        	</div>
        			
        </div>
        </div>
        {% endif %} 

	

        <div style="clear:both; display:block;"></div>



        {% if page.dashboard31 %}
        <div class="container-fluid m-0 p-0 dasgboard3c">
        <div class="row dashboard3row">
        	<div class="dashboard31div col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              		{{ page.dashboard31 }}
        	</div>
        
        	<div class="dashboard32div col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              		{{ page.dashboard32 }}
        	</div>
        </div>
        </div>
        {% endif %} 
	

        <div style="clear:both; display:block;"></div>



        
        <div class="row container1">
        	<div class="content1 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              		{{ page.content1 }}
        	</div>
           	<div class="content2 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        		{{ page.content2 }}
        	</div>
        </div>
      

        <div class="row container2">
        	<div class="content3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              		{{ page.content3 }}
        	</div>
           	<div class="content4 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        		{{ page.content3 }}
        	</div>
        </div>

    </div>     
     
    {% if page.sidebar_second %}
    <div class="order-3 {{ sidebar_second_classes }}">
        {{ page.sidebar_second }}
    </div>
    {% endif %}


  </div>


   <div style="clear:both; display:block;"></div>


  </div>


</main>



<div style="clear:both; display:block;"></div>


<div class="container-fluid m-0 p-0 ccontainerfull1">
   <div class="row containerfull1">
	<div class="contentoutfull1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      		{{ page.contentfull1 }}
	</div>
   </div>
</div>

<div style="clear:both; display:block;"></div>

<div class="container-fluid m-0 p-0 ccontainerfull2">
   <div class="row containerfull2">
	<div class="contentoutfull2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      		{{ page.contentfull2 }}
	</div>
   </div>
</div>




</div>



{% if page.footer %}
<footer class="mt-auto {{ footer_classes }}">
  <div class="{{ b4_top_container }}">
    {{ page.footer }}
  </div>
</footer>
{% endif %}
