<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Genre', 'EE - Electrica y electronica', 'MC - Mecanica', 'CV -Civil', { role: 'annotation' } ],
        ['', 50, 30, 21, ''],
        ['', 0, 0, 0, ''],
        ['', 0,0,0, '']
      ]);

      var view = new google.visualization.DataView(data);
      

      var options = {
        width: 1000,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
        bar: { groupWidth: '75%' },
        isStacked: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  </script>
<style> 

#edit-buscar {
  margin:auto;
  display: block;
  margin-top: 30px;}



#edit-proceso{
  width:50%;
  margin:auto;
  }

label{
display: block;
margin: auto;
text-align: center;
margin-bottom: 0.5rem;
}

#text{
text-align: center;
margin-top: 20px;
color: red;
}


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border-bottom: 1px solid #ddd;
  padding: 16px;
}

#customers tr:nth-child(even){background-color: ;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0056b3;
  color: white;
}
.w3-progress-container {
    width: 50%;
    height: 1.5em;
    position: relative;
    background-color: #845454;
    display:inline-block;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border-bottom: 1px solid #ddd;
  padding: 16px;
}

#customers tr:nth-child(even){background-color: ;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0056b3;
  color: white;
}

.w3-progress-container {
    width: 50%;
    height: 1.5em;
    position: relative;
    background-color: #845454;
    display:inline-block;
}

.w3-progressbar {
    background-color: #757575;
    height: 100%;
    position: absolute;
    line-height: inherit;}

.w3-green, .w3-hover-green:hover {
        color: #fff!important;
        background-color: #4CAF50!important;
    }



</style>

</head>
<body>
  
<h4 style="text-align:center"> Con respecto al total de procesos del periodo selecionado</h4>


{{form}}



<div id="columnchart_values" style=" display: block;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
height: 500px;
width: 1000px;"></div>




<div style="height:500px; width: 1000px;; margin:0px auto; margin-top: 40px;">
<table id="customers">
  <tr>
    <th>Proceso</th>
    <th>Brecha - No cumple Requisistos</th>
    <th>Observacion</th>
  </tr>

<tr>
    <td>Contratar Desarollo de software</td>
    <td><div class="w3-progress-container">
  <div id="myBar" class="w3-progressbar w3-green" style="width:0%">0%</div>
</div></td>
    <td>None</td>
  </tr>


</table>





</body>
